.nav-link{
  color: black;
  margin-right: 10px;
  margin-top: 10px;
}
.navbar-brand{
  font-size: 40px;
}
.logo{
  width: 113px;
  height: 36px;
  margin-top: 2px;
  margin-right: 20px;
}
.nav-item{
  font-weight: bold;
}


