<div class="div_nav">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
<!--    <a class="navbar-brand" href="#">Armut</a>-->
    <img class="logo" src="/assets/images/armut-logo-colour-negative.png">

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">TEMİZLİK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">TADİLAT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">NAKLİYAT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">TAMİR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">ÖZEL DERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">SAĞLIK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">DÜĞÜN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">DİĞER</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
</div>
