.page-first{
  height: 660px;
  background-image: url("/assets/images/armut_background.jpg") ;
}
.first{
  color: white;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.second{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 200px;
}
.pic-one{
  width: 490px;
  height: 350px;
  margin-right: 20px;
  margin-top: 25%;
}
.first-h2{
  margin-top: 65%;
  font-weight: bold;
  font-size: 30px;
  color: #585965;
}
h2{
  font-weight: bold;
  font-size: 30px;
  color: #585965;
  font-weight: bold;
}
p{
  background: transparent;
  border: none;
  font-size: 14px;
  font-family: Arial;
  color: #585965;
}
.pic-others{
  width: 540px;
  height: 374px;
}
h3{
  margin-top: 20px;
}
.card-title{
  text-align: center;
  font-weight: bold;
  color:#2CB34F ;
  font-size: 48px;
}
.card-second-title{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #111321;
  border: none;
}
.line{
  text-align: center;
  color: #1CA03E;
  font-size: 30px;
}
.card-text{
  text-align: center;
  font-size: 14px;
  color: #747A7D;
}

