.page-first{
  height: 660px;
  background-image: url("/assets/images/armut_background.jpg") ;
}
.first{
  color: white;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.second{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 200px;
}
.pic-one{
  width: 490px;
  height: 350px;
  margin-right: 20px;
  margin-top: 25%;
}
.firsth2{
  margin-top: 70%;
  font-weight: bold;
  font-size: 30px;
  color: #585965;
}
p{
  background: transparent;
  border: none;
  font-size: 14px;
  font-family: Arial;
  color: #585965;
}

