<div class="page-first row">
  <div class="col-md-1"></div>
  <app-navbar class="col-md-8"></app-navbar>
  <div class="col-md-3">
    <app-navbar-input-button></app-navbar-input-button>
  </div>
  <div>
    <p class="first">Hizmet Piş, Ağzıma Düş</p>
    <p class="second">ihityacın olan hizmete kolayca ulaş, bekleyen işlerini hallet</p>
  </div>
  <div>
    <app-form-search></app-form-search>
  </div>

  <div class="container">
    <div class="col-md-5"><h2 class="firsth2">Kaliteli Hizmet Al</h2>
      <p>Teklif aldığın hizmet verenlerin kalitesini daha önceki işlerinde aldıkları
      gerçek müşteri yorumları sayesinde görür, güvenle kararını verirsin</p>
    </div><br>
    <div class="col-md-7"><img src="/assets/images/qualty.webp" class="rounded float-end pic-one" alt="..."></div>
  </div>
</div>
