.btn{
  margin-top: 20px;
  margin-right: 10px;
  background-color: transparent;
  color: white;
  font-weight: bold;
}
.btn:hover{
  opacity: 60%;
}
.btn-outline-success{
  color: #29FF30;
  border-color: #29FF30;
}
