.chat-main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-frame{
  position: relative;
  width: 800px;
  height: 600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
.send-message{
  position: absolute;
  display: flex;
  bottom: 10px;
  right: 50px;
  left: 0;
}
.send-message-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #1CA03E;
  border-radius: 10%;

}
